<html>
    <head>

        <script src="/socket.io/socket.io.js"></script>
        <script src="./game.js"></script>
    </head>

    <body>
        <canvas id="cnvs" width="<%= tileCount*gridSize %>" height="<%= tileCount*gridSize %>"></canvas>
    </body>
</html>
